@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #2563eb;

  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Merriweather', serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-slate-900;
  }
}